<div class="container-fluid-full">
    <div class="row-fluid">


        <!-- start: Content -->
        <div id="content" class="span10">
            <div class="page-header">
                <h1>Orders</h1>
            </div>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" ><a href="#!orderList">Orders</a></li>
                <li role="presentation"><a href="#!requestList">Requested</a></li>
                <li role="presentation"><a href="#!diliverList">Deliveries</a></li>
                <li role="presentation" class="active"><a href="#!rejectList/">Rejects</a></li>
            </ul>
            <div class="box-content">
                <table class="table table-striped table-bordered bootstrap-datatable datatable">
                    <thead>
                    <tr>
                        <th>Reject ID</th>
                        <th>Order ID</th>
                        <th>Quantity</th>
                        <th>Reason</th>
                        <th>Re-Order</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="rejects in reject">
                        <td>{{rejects.rejectId}}</td>
                        <td class="center">{{orderId.orderId}}</td>
                        <td class="center">{{rejects.quantity}}</td>
                        <td class="center">
                            <span class="label label-success">{{rejects.reason}}</span>
                        </td>
                        <td class="center">
                            <button class="btn btn-success" ng-submit = "reOrder()">
                               Re order
                            </button>

                            <button class="btn btn-danger" ng-submit = "delete()">
                                Delete
                            </button>
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

